name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  # -------------------------
  # 1. Run Unit Tests
  # -------------------------
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run tests
        run: pytest


  # -------------------------
  # 2. Build & Push Docker Image
  # -------------------------
  docker:
    runs-on: ubuntu-latest
    needs: tests      # Run only after tests complete
    if: ${{ success() }}   # Run ONLY if tests pass

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t chay2406/flaskapp:latest .

      - name: Push Docker Image
        run: |
          docker push chay2406/flaskapp:latest

